{% extends "base.html" %}

{% block content %}
<form action="/profile" method="post">

    <div class="container">

        <h2>{{ session['username'] }}</h2>
        <table class="guess_table">

            <thead>
                <th>Date</th>
                <th>User</th>
                <th>Game</th>
                <th>review</th>
                <th>Score</th>
            </thead>
        
            <tbody>
                {% for guess in guesses %}
                <tr>
                    <td>{{ session['date'] }}</td>
                    <td>{{ session['username'] }}</td>
                    <td>{{ session['game'] }}</td>
                    <td>{{ session['review'] }}</td>
                    <td>{{ session['score'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% if session['username'] %}
    
    
    
        
        {% endif %}
    
    </div>

</form>
{% endblock %}